@import "vendor/bootstrap/bootstrap.less";
@import "vendor/lesshat-prefixed.less";
@import "colorscheme/solarized.less";
@import "namespace/practice.less";
@import "namespace/create.less";

@danger : darken(@red, 10);
@warning : darken(@yellow, 10);
@success : darken(@cyan, 10);
.flasher {
    .lh-translateZ(0);
    .lh-transition( background-color 0.15s ease-in-out );
}
.flasher-root {
    .flasher();

    &.success,
    &.success .success.flasher,
    &.success .success .flasher {
        background-color: @success!important;
    }
    &.warning,
    &.warning .warning.flasher,
    &.warning .warning .flasher {
        background-color: @warning!important;
    }

    &.danger,
    &.danger .danger.flasher,
    &.danger .danger .flasher {
        background-color: @danger!important;
    }
}

html {
    height: 100%;
    background-color: @base03;
    .flasher-root();
}
body { 
    max-width: 23cm;
    border: none;
    background-color: @base02;
    margin: 4em auto;
    padding: 2em 1em;
}
.container, form, .form-group {
    max-width: 100%;
    position: relative;
}
.form-group {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.btn {
    background: none;
    &:hover { border-color: transparent; }
}
.btn-primary {
    border-color: @blue;
    color: @blue;
    border-width: 2px;
}



form.success {
    background-color: @base03;
    .btn {
        visibility: hidden;
    }
    label {
        color: @yellow
    }
    input {
        background-color: @base03!important;
        color: @cyan;
    }
    &:first-of-type {
        border-radius: 6px 6px 0 0;
    }
    &.last {
        border-radius: 0 0 6px 6px;
    }
}

label.control-label {
    font-size: 2em;
    color: @base0;
    bottom: 0.1em
}
input.form-control, textarea.form-control {
    border: none;
    box-shadow: none;
    &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder {
        opacity: 0.5; //I don't konw why this isn't working
    }
}
