/*
 *base03    #002b36
 *base02    #073642
 *base01    #586e75
 *base00    #657b83
 *base0     #839496
 *base1     #93a1a1
 *base2     #eee8d5
 *base3     #fdf6e3
 *yellow    #b58900
 *orange    #cb4b16
 *red       #dc322f
 *magenta   #d33682
 *violet    #6c71c4
 *blue      #268bd2
 *cyan      #2aa198
 *green     #859900
 */
html { background-color: #002b36 }
body { 
    max-width: 23cm;
    border: none;
    background-color: #073642;
    margin: 4em auto;
    padding: 2em 1em;
}
.container, form, .form-group {
    max-width: 100%;
    position: relative;
}
.form-group {
    margin-left: 15px!important;
    margin-right: 15px!important;
    margin-bottom: 0px!important;

    padding-top: 7.5px!important;
    padding-bottom: 7.5px!important;
}
.btn-primary {
    border-color: #268bd2;
    color: #268bd2;
    border-width: 2px;
    background: none;
}
.btn-primary:hover {
    border-color: transparent;
}
.success { border-radius: 3px; }
.success, .success * {
    background: #002b36;
}
.success .btn {
    visibility: hidden;
}
.success label {
    color: #b58900
}
.success input {
    color: #2aa198!important;
}
label {
    width: 22%;
    padding-top: 0.05em;
    font-size: 2em;
    color: #839496;
    vertical-align: middle;
}
input {
    box-shadow: none!important;
    font-size: 2.5em!important;
    border: none!important;
    background-color: #002b36!important;
    color: #fdf6e3!important;
}
form:not(.danger) .retries {
    display: none;
}
.retries {
    position: absolute;
    right: 18.5%;
}
.btn-danger {
    border-width: 2px;
    border-color: #dc322f;
    background-color: #dc322f;
    color: #fdf6e3;
}
