{% extends "base.html" %}

{% block content %}

{% for word in wordlist %}
<form class="read form-horizontal flasher">
    <input type="hidden" name="answer" class="form-control" value="{{word.thai}}">
    <div class="form-group">
        <label class="col-sm-3 control-label">{{word.eng}}:</label>
        <div class="col-sm-7">
            <input type="text" name="read" class="form-control input-lg flasher" autocomplete="off">
        </div>
        <div class="retries">
            <button class="btn btn-lg btn-danger flasher">{{word.thai}}</button>
            <button class="btn btn-lg btn-danger  flasher">{{word.thai}}</button>
            <button class="btn btn-lg btn-danger  flasher">{{word.thai}}</button>
        </div>
        <button type="submit" class="btn btn-lg btn-primary">Enter</button>
    </div>
</form>
{% endfor %}

{% endblock %}
